<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{link-to 'Probe' 'application' classNames='navbar-brand'}}
  </div>
  <header class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{link-to 'Home' 'application'}}</li>
        <li>{{view Probe.ProjectSearchView}}
        </li>
      </ul>
    </div>
  </header>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
