<form class="navbar-form navbar-left" role="search" {{action "searchProject" on="submit"}}>
  <div class="form-group">
    {{input value=projectId type="text" class="form-control" placeholder="Pivotal Tracker ID"}}
  </div>
  <button class="btn btn-default" type="submit">probe</button>
</form>
