<section class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name for {{ model.name }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each story in model.stories}}
      <tr>
        <td>La La</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
