<form class="navbar-form navbar-left" role="search" {{action "search" on="submit"}}>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Pivotal Tracker ID">
  </div>
  <button class="btn btn-default" type="submit">probe</button>
</form>
